---
import Icon from "../ui/Icon.astro";
import Button from "../ui/Button.astro";

import Logo from "../../assets/logo.svg";

const title = "Hackheim";
const navigationItems = [
    { href: "#apne-dager", label: "Åpne dager" },
    { href: "#om-oss", label: "Om oss" },
    { href: "/news", label: "Nyheter" },
    { href: "/wiki/welcome/equipment/3d-printer", label: "Wiki" },
    { href: "/wiki/welcome/equipment/3d-printer", label: "Utstyr" },
    { href: "/wiki/welcome/contact", label: "Kontakt" },
];
const ctaButton = {
    label: "Besøk oss",
    href: "/wiki/welcome/join",
};
const currentPath = Astro.url.pathname;
---

<header
    class="border-b border-border bg-card/50 backdrop-blur-sm sticky top-0 z-50"
>
    <div class="mx-auto px-4 py-4 flex items-center justify-between max-w-7xl">
        <div class="flex items-center space-x-2">
            <a
                class="h-9 px-2 bg-primary rounded-lg flex items-center justify-center"
                href="/"
            >
                <Logo class="h-6 w-auto" fill="white" />
            </a>
        </div>
        <nav class="hidden md:flex space-x-6">
            {
                navigationItems.map((item) => (
                    <a
                        href={item.href}
                        class={`transition-colors ${
                            currentPath && currentPath === item.href
                                ? "text-primary font-medium"
                                : "text-foreground hover:text-primary"
                        }`}
                    >
                        {item.label}
                    </a>
                ))
            }
        </nav>
        <Button variant="accent" href={ctaButton.href}>
            {ctaButton.label}
        </Button>
    </div>
</header>
